<form action="{{ url_for('views.edit_cidr_location', id=cidr.id) }}" method="post">
    <label for="location">Location:</label>
    <select name="location" id="location" class="form-control">
        {% for location in locations %}
            <option value="{{ location.id }}" {% if location.id == cidr.location_id %} selected {% endif %}>
                {{ location.items }}
            </option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-success">Save</button>
</form>
