{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
     <!-- Card 1 -->
    <div class="col-md-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='images/infrastructure.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Infrastructure</h5>
          <p class="card-text">Click here to manage infrastructure details.</p>
          <a href="{{ url_for('views.infrastructure') }}" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
     <!-- Card 2 -->
    <div class="col-md-3 mb-4">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='images/portal.png') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Portal</h5>
          <p class="card-text">Click here to manage portal details.</p>
          <a href="{{ url_for('views.manage_portal') }}" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
    <!-- Repeat for other cards -->
  </div>
  <!-- Add more rows as needed -->
</div>
{% endblock %}
